/* ----- common -------------------- */

body {
  font-family: 'Mv Boli', 'MS PGothic', Gill Sans, 'Gill Sans MT', sans-serif;
  width: 100%;
  margin: auto;
  padding: 0;
  color: rgba(255, 255, 255, 1);
}

h2 {
  margin: 0;
  padding: 40px 0 24px 0;
  color: rgba(0, 0, 0, .5);
  font-size: 24px;
  letter-spacing: .2em;
  text-shadow:
  0px 0px rgba(150, 150, 150, 1),
  1px 0px rgba(150, 150, 150, 1),
  2px 0px 2px rgba(150, 150, 150, 1);
}

h3 {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, .8);
  letter-spacing: .1em;
}

img {
  margin: 0;
  padding: 0;
  object-fit: cover;
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

p {
  color:rgba(0, 0, 0, .8);
  letter-spacing: .1em;
}

/* ----- header -------------------- */
header {
  margin: 0;
  padding: 0;
  position: relative;
}

/* title */
header h1 {
  color: rgba(0, 0, 0, 1);
  position: absolute;
  margin: 24px 0 24px 16px;
  font-size: 48px;
  z-index: 1;
  text-shadow:  
    0px 1px rgba(150, 150, 150, 1),
    -1px 2px rgba(150, 150, 150, 1),
    -2px 3px rgba(150, 150, 150, 1),
    -3px 4px 8px rgba(150, 150, 150, 1);
}

header img {
  width: 100%;
  height: 400px;
  margin-top: 120px;
}


/* ------ container -------------------- */
.container {
  width: 100%;
  height: 100%;
  margin: 40px 0 0 0;
  padding: 0;
  border-bottom: 3px solid;   /* コンテンツ区切りの余白 */
}

/* --------nav----------- */
nav {
  width: 100%;
  height: 30%;
  margin: 0;
  padding: 0;
}

/* 右寄せ */
.position_right {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

nav ul {
  width: 100%;
  height: 100%;
}

nav ul li {
  width: 100px;
  height: 100%;
  margin: 24px 0 24px 0;
  padding: 0;
  text-align: center;
}

/* 下線を引く */
nav ul li a {
  display: block;
  width: 70%;
  height: 100%;
  color: rgba(0, 0, 0, .7);
  font-size: 24px;
  font-weight: bold;
  position: relative;   /* 下線animation */
}

nav ul li a::after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  left: -10%;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: all .5s;
}

/* 下線animation */
nav ul li a:hover::after {
  width: 120%;
}

/* ---------flexbox-------- */
.content {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  margin: 0;
  padding: 0;
  text-align: center;
  opacity: .8;
  transition: opacity .3s;
}

.content:hover {
  opacity: 1;
}

.content h2 {
  color: rgba(255, 255, 255, 1);
  text-shadow:
  0px 0px rgba(200, 200, 200, 1),
  1px 0px rgba(200, 200, 200, 1),
  2px 0px 2px rgba(200, 200, 200, 1);
}

.content ul {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  gap: 20px;
}

.content ul li {
  width: calc((100% - 60px) / 3);
  min-width: 200px;
  height: 100%;
  margin: 0;
  padding-bottom: 24px;
}

.content h3 {  
  text-decoration: underline;
}

.content ul li img {
  width: 160px;
  height: 160px;
  margin: 16px 0;
}

.content .music_list {
  width: 80%;
  margin: 0 auto 40px auto;
  padding: 0;
  text-align-last: left;
  font-size: 14px;
}

.content .music_list ol {
  height: 70px;
  margin: 0;
}

.content .music_list ol li {
  width: 90%;
  height: 16px;
  margin: 0 8px;
  padding: 0;
  font-size: 14px;
  font-family: 'Leelawadee UI', 'MS PGothic', Gill Sans, 'Gill Sans MT', sans-serif;
}

.content .music_list ol li + li {
  margin-top: 8px;
}

.content .music_list ol li:first-child {
  margin-top: 16px;
}

/* 切り替え用 */
.content.active {
  display: block;
}

.content {
  display: none;
}

/* -----------infomation------------ */
.infomation {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
  text-align: center;
  opacity: .9;
  transition: opacity .3s;
}

.infomation:hover {
  opacity: 1;
}

.infomation h2 {
  margin: 0;
}

.infomation .event_container {
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 0;
}

.infomation .event_contents {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.infomation .event_contents ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: transform .3s;
}

.infomation .event_contents ul li {
  height: 100%;
  min-width: 100%;
}

.infomation .event_contents ul li img {
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

/* java用class */
.event {  
  display: block;
}

.hidden { 
  display: none;
}

/* -------- dot button ----------- */
.event_nav {
  display: flex;
  height: 24px;
  margin-top: 16px;
  padding: 0;
}

.dots_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dots_container button {
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(0, 0, 0, .3);
  cursor: pointer;
}

.dots_container button + button {
  margin-left: 8px;
}

/* java用class */
.dots_container .current {
  background: rgba(0, 0, 0, .8);
  transition: background-color .3s;
}

/* -------- news ---------- */
.notice {
  width: 100%;
  height: 300px;
  margin: 0;
  padding-bottom: 24px;
  text-align: center;
  border-top: 3px solid;   /* メニュー下の余白 */
}

.notice h2 {
  margin: 0;
}

.table_space {
  width: calc(100% - 20px);
  height: 52%;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  border: 5px inset rgba(0, 0, 0, .5);
  border-radius: 10px;
}

table {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border-collapse: collapse;
  color: rgba(0, 0, 0, .8);
  background: rgba(255, 255, 255, 1);
}

table tr + tr {  
  border-top: 3px groove rgba(0, 0, 0, .5);
}

table tr td { 
  height: 48px;
}

table td:first-child {  
  width: 20%;
}

table tr td + td {  
  border-left: 2px dotted rgba(0, 0, 0, .5);
  text-align-last: left;
  padding-left: 16px;
}

/* -------- explanation -------- */
.explanation {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 24px;
  opacity: .9;
  transition: opacity .3s;
  border-top: 3px solid;   /* メニュー下の余白 */
}

.explanation:hover {
  opacity: 1;
}

.explanation_container {
  width: 100%;
  height: 70%;
  padding: 40px 0 8px 0;
  color: rgba(255, 255, 255, .8);
}

.explanation_contents {
  width: 70%;
  height: 80px;
  margin: 0 auto 8px auto;
  padding: 0 24px;
}

.explanation_contents p {
  line-height: 2em;
}

.explanation_contents p:last-child {
  width: 90%;
}

.explanation_contents a {
  color: rgba(0, 0, 0, .5);
}

.explanation_contents a:hover {
  font-weight: bold;
  color: rgba(0, 0, 0, .8);
}

/* 表示切替 */
.listoverflowHidden {  
  overflow: hidden;
}

.listoverflowAuto {
  height: 300px;
  overflow: auto;
}

.button_more {
  width: 30%;
  height: 30px;
  margin: 24px 0;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(200, 200, 200, .8);
  background: rgba(200, 200, 200, 1);
  border-radius: 5px;
  cursor: pointer;
  opacity: .5;
  letter-spacing: .2em;
}

.button_more:hover {
  opacity: 1;
  background: rgba(200, 200, 200, .8);
}

/* -------- footer ---------- */
footer {
  background: rgba(0, 0, 0, .7);
  text-align: center;
  height: 50px;
  margin: 0 auto 16px auto;
  font-size: 24px;
  border-bottom-left-radius: 30px 15px;
  border-bottom-right-radius: 30px 15px;
}

footer small {
  color: rgba(255, 255, 255, 1);
}


/* ------- 特殊スタイル ---------- */
/* scrollbarの非表示 */
/* chrome, safari */
.scroll_hidden {  
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
}

/* chrome, safari */
.scroll_hidden::-webkit-scrollbar {
  display: none;
}


/* ------- media screen ------- */
@media screen and (max-width: 768px) {
  header img {    
    object-fit: scale-down;
  }

  header h1 {
    margin: 8px 0 0 8px;
    font-size: 36px;
    position: relative;
  }

  #titleImgM {
    display: none;
  }

  #titleImgS {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .content ul {
    display: block;
    width: (100% - 40px);
  }

  .content ul li {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {  
  #titleImgS {
    display: none;
  }

  .position_right {
    text-align: center;
  }

  .content ul {
    gap: 0;
  }

  .content ul li {
    width: calc((100% - 200px) / 2);
    margin-left: 60px;
    margin-bottom: 40px;
  }

  .content ul li + li {
    margin-right: 40px;
  }

  .music_list {
    border-bottom: 1px solid rgba(255, 255, 255, .8);
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
  }
  
  #titleImgS {
    display: none;
  }

  .content {
    border-top-right-radius: 10% 5%;
    border-bottom-left-radius: 50% 25%;
  }
  
  .content ul {
    width: calc(100% - 10%);
    margin: 0 auto;
    gap: 0px;
    justify-content: start;
  }
  
  .content ul li {
    width: calc((100% - 100px) / 3);
    margin: 0 0 calc(10% / 4) calc(10% / 4);
  }  
}
